h1,
h2 {
	margin: 0;
	font-family: 'PPMori-Regular';
}

p,
a,
li {
	font-size: 1.5rem;
	font-family: 'PPMori-Extralight';
}

p {
	text-indent: 20px;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.85rem;
}

.slider_wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}
