header {
	width: 100%;
	padding: 1rem;
}

.circle {
	position: absolute;
	background-color: rgb(34, 194, 106);

	width: 100px;
	height: 100px;
	filter: blur(150px);
	border-radius: 100px;
}

.one {
	left: 0;
	top: 0;
}

.two {
	bottom: 0;
	right: 0;
}

.player_wrapper {
	flex: 0.6;
	height: 100%;
	padding-right: 5rem;
}

.canvas_wrapper {
	flex: 1;
	height: 100%;
}

.audio_control {
	width: 100%;
	padding: 1rem;
}
