:root {
	--bg: #0b0f0d;
	--font: #2dc954;
}
body {
	height: 100svh;
	margin: 0;
	box-sizing: border-box;
	background: var(--bg);
	position: relative;

	color: var(--font);
}

hr {
	color: var(--font);
}

svg {
	height: 0px;
}

body::before,
body::after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 10%;
}

body::before {
	background: #1d2922;
	filter: url(#noiseFilter);
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
}
.canvas_wrapper {
	width: 100%;
	height: 100%;
	aspect-ratio: 3/2;
}

main {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

main > section:first-child {
	flex: 1.5;
}

main > :nth-child(2) {
	flex: 1;
}

h1,
h2 {
	margin: 0;
}

header {
	width: 100%;
}

.circle {
	position: absolute;
	background-color: rgb(34, 194, 106);

	width: 100px;
	height: 100px;
	filter: blur(150px);
	border-radius: 100px;
}

.one {
	left: 0;
	top: 0;
}

.two {
	bottom: 0;
	right: 0;
}
